* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
}
/* Config Divs gerais */
.center {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.clear {
  clear: both;
}
/*-------------*/

header {
  background:#d3d3d3;
  padding: 10px 2% 30px 2%;
}

.logo1 {
  float: left;
  width: 160px;
  height: 60px;
  background-image: url(../images/logo1.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: blueviolet; */
}

.logo2 {
  float: right;
  width: 160px;
  height: 60px;
  background-image: url(../images/logo2.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: chocolate; */
}

section.cover-form {
  width: 100%;
}

.bg {
  position: relative;
  height: 560px;
  background-image: url("../images/bg-form.jpg");
  background-position: center;
  background-size: cover;
}

.arrow-down {
  background-image: url(../images/arrow.png);
  background-size: 100% 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.form-container {
  position: absolute;
  right: 30px;
  top: -2.5%;
  width: 400px;
  height: 105%;
  background-color: rgba(234,236,239, 0.6);
  background-clip: padding-box;
  border: 4px solid rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
}

.form-container h2 {
  padding: 25px 15px;
  color: black;
  font-size: 18px;
  font-weight: normal;
  background-color: rgba(234,236,239, 0.7);
}

.form-container form {
  padding: 15px;
  margin-top: 20px;
}

.form-container p {
  font-size: 13px;
  color: rgb(10, 10, 10);
}

.form-container .form-wrapper:not(:first-child) {
  margin-top: 40px;
}

.form-container .form-wrapper:last-child {
  margin-top: 20px;
}

.form-container form input[type=text],
.form-container form input[type=email] {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 0;
  padding-left: 10px;
  border-radius: 50px;
}

.form-container form input[type=text]:focus,
.form-container form input[type=email]:focus,
.form-container form input[type=submit]:focus {
  outline: none;
}

.form-container form input[type=submit] {
  width: 100%;
  height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: #033c50;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.5);
  transition: background-color 0.5s;
}

.form-container form input[type=submit]:hover {
  background-color: #0980ac;
}

section.chamada {
  width: 100%;
  text-align: center;
}

section.chamada .center {
  padding: 70px 0 50px 0;
  background-color: rgb(49, 111, 149);
}

section.chamada h2 {
  width: 96%;
  max-width: 700px;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  font-size: 24px;
  color: #f0f0f5;
}

section.chamada p {
  width: 96%;
  max-width: 700px;
  font-weight: normal;
  margin-top: 10px;
  display: inline-block;
  font-size: 20px;
  color: #f0f0f5;
}

.flex-mosaico {
  display: flex;
}

.item-1-mosaico {
  width: 60%;
  background-position: center;
  background-size: cover;
}

.item-2-mosaico {
  background-color: rgba(87, 167, 218, 0.2);
  width: 40%;
  height: 300px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 40px;
  background-color: rgba(220, 220, 200, 0.7)
}

footer img {
  width: 160px;
  height: 60px;
}

footer p:not(:last-child) {
 margin-top: 18px;
}

.item-2-mosaico p {
  color:rgb(10, 10, 10);
}

@media screen and (max-width: 960px) {
  .bg {
    height: auto;
    text-align: center;
    padding: 60px 0;
  }

  .form-container {
    width: 90%;
    max-width: 400px;
    position: static;
    height: auto;
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {

  .flex-mosaico {
    display: block;
  }

  .item-1-mosaico {
    padding-top: 80%;
    width: 100%;
  }

  .item-2-mosaico {
    width: 100%;
  }
}

@media screen and (max-width: 510px) {

  header {
    text-align: center;
  }
  
  [class^="logo"]{
    display: inline-block;
    float: none;
    margin-top: 10px;
  }
}